@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Staatliches&display=swap');


body {
    margin: 0;
    padding: 0;
    background-color: #fcfbfb;
    font-family: 'Patrick Hand';
    font-size: 22px;
}
.Content {
    max-width: 1600px;
}
nav a {
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: #fcfbfb;
    color: #455764;
    text-decoration: none;
    font-family: 'Patrick Hand';
    padding: 35px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.home-title {
    color: #455764;
    margin-top: 10px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
h1 {
    text-align: center;
    font-family: 'Staatliches';
    font-size: 2em;
} 
h2 {
    text-align: center;
    background-color: #83b3d3;
    color: #455764;
    margin: 0;
}
h3 {
    text-align: left;
    background-color: #fcfbfb;
    color: #455764;
    
}
h4 {
    text-align: center;
    background-color: #83b3d3;
    color: #455764;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
main section img {
    text-align: center;
    box-sizing: border-box
}
#background {
    height: 725px;
    background-color: #83b3d3;
    grid-column: 1/11;
    grid-row: 4/9;
}
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #83b3d3; 
}
nav a:hover {
    background-color:  #83b3d3;
    color: #455764; 
}
.book, .join {
    background-color: #83b3d3; 
    color: #455764;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover {
    background-color: #83b3d3; 
    color: #455764;
    text-align: left;
} 
.join:hover {
    background-color: #83b3d3; 
    color: #455764;
}
.msg {
    background-color: #83b3d3;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #83b3d3;
}
.msg p {
    padding-bottom: 15px;
}
footer {
    background-color: #83b3d3;
    color: #455764;
    text-align: left;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
} 
.social img {
    text-align: left;
    padding-top: 15px;
}
.rivers-card {
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    margin: 200px 0;
    grid-column: 5/7;
    grid-row: 2/3;

}
.rapids-card {
    margin: 200px 0;
    grid-column: 8/10;
    grid-row: 2/3;
}
.card-img {
    border: 10px solid black;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #83b3d3;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg h4{
    color: white;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
.card-img, .mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #83b3d3;
}

@media screen and (max-width: 900px) {}
    
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #83b3d3;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
