@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner&family=Pacifico&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #f6e3f1;
    font-family: 'Pacifico' cursive;
    font-size: 22px;
    text-align: center;
    align-self: center;
}
#content {
    max-width: 1600px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
#makeup-img {
  max-width: 25%;
  max-height: 25%;
}
.logo {
  align-self: center;
  max-width: 100%;
  height: auto;
}
nav {
  text-align: left;
  font-family: "Pacifico", Cursive;
  color: #f72585;
}
.editorial-img {
  border: 1px;
  box-sizing: border-box;
  float: left;
  padding: 1em;
  width: 25%;
}
.social-img {
  border: 1px;
  box-sizing: border-box;
  float: left;
  padding: 1em;
  width: 25%;
}
.wedding-img {
  border: 1px;
  box-sizing: border-box;
  float: left;
  padding: 1em;
  width: 25%;
}

#courses-img {
  align-items: center;
  max-width: 70%;
  max-height: 50%;
}
#wedding-1 {
  border: 1px;
  box-sizing: border-box;
  float: left;
  padding: 1em;
  width: 50%;
}
#social-1 {
  border: 1px;
  box-sizing: border-box;
  float: right;
  padding: 1em;
  width: 50%;
}
#makeup-img {
  width: 25%;
  height: 25%;
  margin: 50px;

}
h2 {
    font-family: "Pacifico", Cursive;
    text-align: center;
    color: #f72585;

}
.text {
  text-align: center;
  color: #4361ee;
  font-family: "Edu QLD Beginner", cursive;
}
h3 {
  text-align: left;
}
 .container {
    display: inline-block;
    cursor: pointer;
  }
footer {
  text-align: left;
  color: #f72585;
  font-family: "Pacifico", Cursive;
  bottom: 0px;
  width: 600px;
  
}
