@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Pacifico&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #c4cbec;
    font-family: 'Pacifico' cursive;
    font-size: 22px;
    text-align: center;
    align-self: center;
}
#content {
    max-width: 1600px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.logo {
  align-self: center;
}
.img {
  align-items: center;
}
h2 {
    text-align: center;
    color: #f72585;

}
.text {
    text-align: center;
    color: #4361ee;
    font-family: "Cedarville Cursive", cursive;
 }
 .container {
    display: inline-block;
    cursor: pointer;
  }
  

  